OpinionWidget {
    layout: horizontal;
    background: $boost;
    height: 5;
    margin: 1;
}

Button {
    margin: 1;
    width: 10;
}

Content {
    content-align: center middle;
    height: 5;
    border: green;
    margin-left: 2;
    padding-left: 3;
    padding-right: 3;
    width: auto;
}

